*{
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif
}

::selection{
    background: #0d7895;
    color: #ffffff;
}

:root{
    --right-msg: 50px
}

.title-login{
    text-transform: initial;
}

.sair{
    color: #bd0000;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
}

a{
    text-decoration: none;
    color: black;

}

input{
    height: 20px;
    width: 200px;
    accent-color: #0d7895;
    border: 1px solid #000;
    border-radius: 3px;
}

.novo{
    background-image: linear-gradient(to right, #61f8bb 0%, #5ce0bc 100%);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    border-radius: 5px;
    color: #ffffff;
    transition: 300ms;
}

.novo:hover{
    opacity: 0.9;
    scale: 1.2;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #42d8e6 0%, #3BB2B8 50%, #8ef3e3 100%);
    font-weight: bold;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    height: 30px;
    transition: 0.2s;
}

.button:hover{
    cursor: pointer;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.15);
    opacity: 0.7;
}
.navbar {
    background-color: #0a5c72;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navbar a{
    border: none;
    font-size: 0.9em;
    width: 37px;
    height: 22px;
    color: #ffffff;
    cursor: pointer;
}

.navbar span{
    font-size: 0.9rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;

}

.container label{
    font-weight: bold;
    font-size: small;
}

.box{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0a5c72;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;

}


.border{
    box-shadow: 6px 3px 13px 0px rgba(0,0,0,0.75);
    border: 10px solid transparent;
    border-radius: 8px;
}


.none{
    display: none;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px;
}

.menu > a {
    padding: 35px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 4px 2px 11px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.menu a:focus{
    border: 2px solid #000000;
    box-shadow: inset 0 0 0 2px #fff;
    overflow: auto;
}

.atendimento{
    background-color: rgba(93, 224, 175, 0.93);
    color: #ffffff;
    border: none;
    border-bottom: 15px solid #40af84;
}

.prontuario{
    background-color: #17a2b8 ;
    color: #ffffff;
    border: none;
    border-bottom: 15px solid #1d8696;
}

.pacientes{
    background-color: #fbdb9c92;
    color: #6d5d16;
    border: none;
    border-bottom: 15px solid #fbdb9c92;
}

.anamneses{
    background-color: #4dd9bda1;
    color: #ffffff;
    border: none;
    border-bottom: 15px solid #4dd9bda1;
}

.medicos{
    background-color:#dbd6d6a0 ;
    color: #716d6dee;
    border: none;
    border-bottom: 15px solid #dbd6d6a0;
}

.dados{
    background-color: #da8e1cac;
    color: #ffffff;
    border: none;
    border-bottom: 15px solid #da8e1cac;
}

.title{
    text-align: center;
    margin-top: 5%;
}

.formulario-anamnese{
    display: flex;
    flex-direction: column;
    margin: 1.5%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px;
}

.formulario-anamnese > label{
    margin-top: 10px;
}

.formulario-anamnese > input[type="text"]{
    height: 25px;
}

.formulario-anamnese > input[type="submit"]{
    margin-top: 8px;
}

.formulario-usuario{
    margin: 1.5%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px;
}

.formulario-usuario > input[type="text"]{
    width: 20%;
    height: 26px;
    margin-top: 20px;
}

.formulario-usuario > span {
    color: #0a5c72;
    font-weight: bold;
}

.formulario-usuario > textarea{
    width: 100%;
}

.escopomensagem{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border: 1px solid transparent;
    border-radius: 8px;
    margin-right: 20px;
    gap: 10px;
}

.escopomensagem > a{
    color: #0d7895;
}

.filtro-data{
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #f5f5f5;
    margin: 10px;
    text-align: left;
    width: 97%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.lista-anamenses article > section{
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #f5f5f5;
    margin: 10px;
    text-align: left;
    width: 97%;
    padding: 10px;
}

.pop-up{
    bottom: 44px;
    min-height: 60px;
    position: fixed;
    right:var(--right-msg);
    width: 300px;
    border: none;
    z-index: 50;
    align-items: center;
    animation: showUp .2s ease-out 1, showUp reverse 300ms 5s ease-in-out 1 forwards;
    border-radius: 8px;
    border-bottom: 10px solid rgba(94, 222, 164, 0.73);
    color: #000000;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 5px 0;
    font-weight: bold;
    text-transform: capitalize;
    justify-content: center;
    opacity: .9;
    background-color: rgba(94, 222, 164, 0.5);
    user-select: none;
}

@keyframes showUp {
    0% {
        transform: translateX(calc(100% + var(--right-msg)));
    }
}

@keyframes hide {
    100%{
        opacity: 0;
    }

}
